@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-ramiro-rgb: 41, 41, 41;
  --font-color-ramiro-rgb: 216, 216, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-ramiro-rgb: 41, 41, 41;
    --font-color-ramiro-rgb: 216, 216, 216;
  }
}

body {
  background-color: rgb(var(--background-ramiro-rgb));
  color: rgb(var(--font-color-ramiro-rgb));
}

.icon-border {
  stroke: rgb(var(--background-ramiro-rgb));
  stroke-width: 20;
}
